[Desktop Entry]
Categories=Development;
Exec=smartsynchronize.sh
GenericName=File and Directory Compare
Icon=com.syntevo.SmartSynchronize
Keywords=compare;merge;
Name=SmartSynchronize
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=syntevo-smartsynchronize
