[Desktop Entry]
# REQUIRED
Name=SmartSynchronize
Type=Application
# OPTIONAL
Categories=Development;
Comment=File Manager and File/Directory Compare Tool
Exec=smartsynchronize
Icon=com.syntevo.SmartSynchronize
Keywords=compare;file;merge;synchronize;
StartupNotify=false
StartupWMClass=SmartSynchronize
Terminal=false
Version=1.0
